        <div class="navbar">
            <ul class="nav nav-justified">
                <li><a class="brand" href="index.html">Bookmarks</a></li>
                <li><a href="home.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        <div class="container">
            <div id="alertbox"></div>
            <section id="bookmarkapp">
                <div class="well">
                    <h1 id="bookmarkHead">Bookmarks</h1>
                    <input id="createBookmarkName" placeholder="Name">
                    <input id="createBookmarkAddress" placeholder="Website address">
                    <input id="createBookmarkTags" placeholder="Tags">
                    <div class="btn-group">
                        <button id="createBookmark" class="btn btn-large btn-success">Add bookmark</button>
                        <button id="filterBookmarks" class="btn btn-large btn-primary">Filter</button>
                    </div>
                </div>
                <div class="well">
                    <div>
                        <button id="showAllBookmarks" class="btn btn-large btn-primary">Show All</button>
                    </div><br>
                    <div class="well">
                        <table class="table table-striped">
                            <thead>
                                <th width="25%">Name</th>
                                <th width="25%">Address</th>
                                <th width="25%">Tags</th>
                                <th width="25%"></th>
                            </thead>
                            <tbody id="bookmarkList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>